# This is a basic workflow to help you get started with Actions

name: "CastleEscape Build & Release"

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install apt dependencies
        run: sudo apt install -y cpanminus

      - name: Install perl prerequisites
        run: sudo cpanm -n Capture::Tiny File::Basename IO::File File::Spec Iterator::Simple Iterator::Simple::Lookahead Regexp::Common FindBin Data::Dump Modern::Perl Path::Tiny File::Copy

      - name: Install z88dk
        run: |
          sudo snap install --edge z88dk
          sudo snap alias z88dk.zcc zcc
          sudo snap alias z88dk.z88dk-asmpp z88dk-asmpp
          sudo snap alias z88dk.z88dk-asmstyle z88dk-asmstyle

      - name: Build all
        run: |
          export Z88DK=/snap/z88dk/current/share/z88dk
          export ZCCCFG=${Z88DK}/lib/config
          export PATH=/snap/z88dk/current/bin:$PATH
          make -C assets install
          make -C src all

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            src/CastleEscape.tap
