# This is a basic workflow to help you get started with Actions

name: "CastleEscape Test Build"

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Install z88dk
        run: |
          sudo snap install --edge z88dk
          sudo snap alias z88dk.zcc zcc
          sudo snap alias z88dk.z88dk-asmpp z88dk-asmpp
          sudo snap alias z88dk.z88dk-asmstyle z88dk-asmstyle

      - name: Build all
        run: |
          make -C assets install
          make -C src all

